<a href="https://colab.research.google.com/github/Song-eungi/python_base/blob/main/221102_%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B5%AC%EC%A1%B0%EC%A0%95%EB%A6%AC_%EC%86%A1%EC%9D%80%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬 문자열 함수

In [13]:
str = " Life is good "
lenstr = len(str) # 문자열 길이 구하기
findstr = str. find("1") # 특정 문자 찾기
upeerstr = str.upper()# 문자열 대문자로
lowerstr = str. lower() # 문자열 소문자로
stripstr = str.strip() # 양쪽 공백 없애기
replacestr = str.replace("good", "bad") # 특정 문자열 바꾸기
splitstr = str.split() # 문자열 나누기

print(lenstr, findstr, upeerstr, lowerstr,sep='|')
print(stripstr, replacestr, splitstr,sep='|')

14|-1| LIFE IS GOOD | life is good
Life is good| Life is bad |['Life', 'is', 'good']

## 파이썬 리스트 함수

In [14]:
# 길이가 8인 리스트
a = [101, 102, 'b', 'l', 'o', 103, 104, 105]
 
# 인자 접근
print(f'a[0] : ')
print(f'a[1] : ')
print(f'a[2] : ')
# ...
print(f'a[7] : ')
 
# print(f'a[8] : ') - error
 
 
# 그럼 마이너스로 접근이 가능할까요?
print(f'a[-1] : ')
print(f'a[-2] : ')
# ...
print(f'a[-8] : ')

a[0] :
a[1] :
a[2] :
a[7] :
a[-1] :
a[-2] :
a[-8] :

In [15]:
# 리스트 값 수정
b = [222, 333, 444, 555]
 
print(f'b : \n')
 
b[0] = 10
print(f'b[0] = 10')
print(f'b : \n')
 
b[-2] = 'BlockDMask'
print(f'b[-2] = \'BlockDMask\'')
print(f'b : \n')
 
b[3] = 1000
print(f'b[3] = 1000')
print(f'b : ')

b :

b[0] = 10
b :

b[-2] = 'BlockDMask'
b :

b[3] = 1000
b :

In [16]:
# 리스트 슬라이싱 
# 길이가 8인 리스트
a = [101, 102, 'b', 'l', 'o', 103, 104, 105]
 
# a[1] 부터 ~ a[2] 까지 슬라이싱
print(f'a[1:3] : ')
 
# a[1] 부터 ~ a[6] 까지 슬라이싱
print(f'a[1:7] : ')
 
# a[1] 부터 ~ a[7] 까지 슬라이싱 (리스트 끝 까지1)
print(f'a[1:8] : ')
 
# a[1] 부터 리스트 끝까지 슬라이싱 (리스트 끝 까지2)
print(f'a[1:] : ')
 
# 리스트 맨 앞에서 부터 맨 뒤 끝 까지
print(f'a[:] : ')
 
# 리스트 맨 앞에서 특정 부분 까지
print(f'a[:3] : \n')
 
# 리스트 반으로 뚝딱 나누기 1
print(f'a[:4] : ')
print(f'a[4:] : ')
 
# 리스트 반으로 나누기 2
# 리스트 길이를 가지고 오는 len 내장함수 이용
w = int(len(a) / 2)
print(f'a[:w] : ')
print(f'a[w:] : \n')
 
# 마이너스는 통할까?
print(f'a[-2:] : ')
print(f'a[-1:] : ')
print(f'a[-5:-1] : ')
print(f'a[:-5] : ')

a[1:3] :
a[1:7] :
a[1:8] :
a[1:] :
a[:] :
a[:3] :

a[:4] :
a[4:] :
a[:w] :
a[w:] :

a[-2:] :
a[-1:] :
a[-5:-1] :
a[:-5] :

## 파이선 튜플 함수

In [17]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [18]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [19]:
#tuple(range(횟수))
a = tuple(range(10))
print(a)
# 튜플 = tuple(range(시작, 끝))
b = tuple(range(5, 12))
print(b)
#튜플 = tuple(range(시작, 끝, 증가폭))
c = tuple(range(-4, 10, 2))
print(c)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(5, 6, 7, 8, 9, 10, 11)
(-4, -2, 0, 2, 4, 6, 8)

In [20]:
#튜플을 리스트로 만들고 리스트를 튜플로 만들기
#tuple 안에 리스트를 넣으면 새 튜플이 생깁니다.
a = [1, 2, 3]
print(tuple(a))

#반대로 list 안에 튜플을 넣으면 새 리스트가 생성됩니다.
b = (4, 5, 6)
print(list(b))

(1, 2, 3)
[4, 5, 6]

## 파이썬 딕셔너리 함수

In [21]:
#딕셔너리에서는 키의 값이 중복되지 않는다
d1 = {"a":1, "b":2}
d2 = {"b":1, "d":2}
d1.update(d2)

print(d1)

d3= dict(c=3, d=4)
d4=dict(d2,**d3)

print(d4)

{'a': 1, 'b': 1, 'd': 2}
{'b': 1, 'd': 4, 'c': 3}

In [22]:
#특정값 찾기
print(d1["a"])

#추가하기
#새로운 값을 추가하려면  키와 값을 할당하면 된다.
d1["d"] = 4
print(d1)

#값 변경하기
#값을 변경하기 위해서는 해당 키에 값을 다시 입력해 주면 된다.
d1["d"] = 5
print(d1)

#사전의 키값 얻기
print(d1.keys())

#사전의 값 얻기 
print(d1.values())

#사전의 모든 키와 값을 튜플러 묶어서 반환하기
print(d1.items())

#특정 키값 삭제하기
del d1['d']
print(d1)

#모두 삭제하기
d2.clear()
print(d2)

1
{'a': 1, 'b': 1, 'd': 4}
{'a': 1, 'b': 1, 'd': 5}
dict_keys(['a', 'b', 'd'])
dict_values([1, 1, 5])
dict_items([('a', 1), ('b', 1), ('d', 5)])
{'a': 1, 'b': 1}
{}