<a href="https://colab.research.google.com/github/Song-eungi/python_base/blob/main/221103_%EC%A1%B0%EA%B1%B4%EB%AC%B8_%EB%B0%98%EB%B3%B5%EB%AC%B8_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 연산자 실습 필요

### ( 조건문 )

1. if Then

In [ ]:
python = True
if python:
    print("T")

T

2.if Then  Else

In [ ]:
python = True
if python:
    print("True")
else:
    print("False")

True

In [ ]:
python = -1
if python:
    print("True")
else:
    print("False")

True

In [ ]:
python = True
pycharm = True
if python:
    print("1st True")
    print("11111")
elif pycharm:
    print("1st False, 2nd True")
else:
    print("False")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

### (실습_01.  조건문 홀수 짝수 판별 ) 
- 화면에서 숫자를 입력 받아 변수 x에 저장한다
- 입력받은 숫자가 홀수면 "홀수", 짝수면 "짝수를 출력 
- 출력예)  3은 홀수 입니다.

In [ ]:
# 화면에서 입력 받을 때 
x = int(input("숫자? "))

숫자? 13

In [ ]:
type(x)

int

In [ ]:
if (x%2 ==0):
    print(x, "는 짝수")
else:
    print(x, "는 홀수")

13 는 홀수

In [ ]:
if (x%2 ==1):
    print(x, "는 홀수")
else:
    print(x, "는 짝수")

13 는 홀수

In [ ]:
if (x%2 != 0):
    print(x, "는 홀수")
else:
    print(x, "는 짝수")

13 는 홀수

### (실습_02.  성적 등급 판정  ) 
- 화면에서 성적을 입력 받아 변수 score에 저장 
- 입력받은 숫자가
  + 80점 이상이면 "A"등급 
  + 70점 이상 ~ 80점 미만이면 "B" 등급
  + 60점 이상 ~ 70점 미만이면 "C" 등급
  + 60점 미만이면 "D" 등급 
- 출력 예)  점수는 50점, 등급은 D등급

In [ ]:
score = int(input("점수? "))

점수? 77

In [ ]:
if score > 80:
    degree = "A"
elif score > 70:
    degree = "B"
elif score > 60:
    degree = "C"
else:
    degree = "D"
    
print("점수는 ", score, "점, 등급은 = ", degree, "등급")

점수는  77 점, 등급은 =  B 등급

In [ ]:
if score >= 80:
    degree = "A"
elif (score > 60 and score <=70):
    degree = "C"
elif (score > 70 and score <=80):
    degree = "B"
else:
    degree = "D"
    
print("점수는 ", score, "점, 등급은 = ", degree, "등급")

점수는  77 점, 등급은 =  B 등급

### ( 반복문)

In [ ]:
print(1)
print(2)
print(3)
print(4)

1
2
3
4

In [ ]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
fruit = ["ap","pe","ch"]

In [ ]:
fruit[0]

'ap'

In [ ]:
fruit[1]

'pe'

In [ ]:
for i in fruit:
    print(i)

ap
pe
ch

In [ ]:
fruit_dict = {"ap":3500, "pe":2500, "ch":5000}

In [ ]:
# 과일명만 출력할때
fruit_dict.keys()

dict_keys(['ap', 'pe', 'ch'])

In [ ]:
for i in fruit_dict.keys():
    print(i)

ap
pe
ch

In [ ]:
## 과일가격만 출력 할때

In [ ]:
for i in fruit_dict.values():
    print(i)

3500
2500
5000

### ( 실습. 리스트 반복문 )
- score = [60, 73, 65, 89]
- 채점 
   + 80 보다 크면 "A"
   + 70 보다 크고 80보다 작거나 같으면 "B"
   + 60 보다 크고 70보다 작거나 같으면 "C" 
   + 60 보다 작으면 "D" 
- 출력 ->  1번 학생 점수는 60점, 등급은 D등급

In [ ]:
scores = [60, 73, 65, 89]

no = 0

for score in scores: 

    if score >= 80:
        degree = "A"
    elif (score > 60 and score <=70):
        degree = "C"
    elif (score > 70 and score <=80):
        degree = "B"
    else:
        degree = "D"
        
    no = no + 1

    print(no, "학생의 점수는 ", score, "점, 등급은 = ", degree, "등급")

#    break

1 학생의 점수는  60 점, 등급은 =  D 등급
2 학생의 점수는  73 점, 등급은 =  B 등급
3 학생의 점수는  65 점, 등급은 =  C 등급
4 학생의 점수는  89 점, 등급은 =  A 등급

In [ ]:
scores = [60, 73, 65, 89]

no = 0

for score in enumerate(scores): 

    if score >= 80:
        degree = "A"
    elif (score > 60 and score <=70):
        degree = "C"
    elif (score > 70 and score <=80):
        degree = "B"
    else:
        degree = "D"
        
    no = no + 1

    print(no, "학생의 점수는 ", score, "점, 등급은 = ", degree, "등급")

#    break

In [ ]:
for score in enumerate(scores):
    print("1 = ", score)
    no = score[0]
    score = score[1]
    print("no=", no, " score=", score)
    print("2 = ", score)

1 =  (0, 60)
no= 0  score= 60
2 =  60
1 =  (1, 73)
no= 1  score= 73
2 =  73
1 =  (2, 65)
no= 2  score= 65
2 =  65
1 =  (3, 89)
no= 3  score= 89
2 =  89

In [ ]:
for no, score in enumerate(scores):
    print("no=", no, " score=", score)

no= 0  score= 60
no= 1  score= 73
no= 2  score= 65
no= 3  score= 89

In [ ]:
scores = [60, 73, 65, 89]

for no, score in enumerate(scores): 

    if score >= 80:
        degree = "A"
    elif (score > 60 and score <=70):
        degree = "C"
    elif (score > 70 and score <=80):
        degree = "B"
    else:
        degree = "D"

    print(no, "학생의 점수는 ", score, "점, 등급은 = ", degree, "등급")

0 학생의 점수는  60 점, 등급은 =  D 등급
1 학생의 점수는  73 점, 등급은 =  B 등급
2 학생의 점수는  65 점, 등급은 =  C 등급
3 학생의 점수는  89 점, 등급은 =  A 등급

### ( 과일 가격 찾기 )
- fruit_dict = {"ap":3500, "pe":2500, "ch":5000}
- 과일가격이 2500원이 과일은?

In [ ]:
fruit_dict = {"ap":3500, "pe":2500, "ch":5000}
fruit_dict

{'ap': 3500, 'pe': 2500, 'ch': 5000}

In [ ]:
list(fruit_dict.items())

[('ap', 3500), ('pe', 2500), ('ch', 5000)]

In [ ]:
fruit_dict = {"ap":3500, "pe":2500, "ch":5000, "or":2500}

for item in fruit_dict.items():
#     print(item)
#     print(item[1])
    if item[1] == 2500:
        print("2500원 과일은 ", item[0], " 이다!!")

2500원 과일은  pe  이다!!
2500원 과일은  or  이다!!

### ( 과일명 찾기 )
- fruit_dict = {"ap":3500, "pe":2500, "ch":5000, "or":2000}
- 3000원 이상인 과일을 찾아서 high_price 에 넣고 (리스트형)
- 3000원 이하인 과일은 찾아서 low_price에 넣고 (리스트형)
  + 리스트변수에 추가하기 
- high_price, low_price를 출력하세요.

In [ ]:
fruit_dict = {"ap":3500, "pe":2500, "ch":5000, "or":2000}
high_price=[]
low_price=[]

for item in fruit_dict.items():
    if item[1] > 3000:
        high_price.append(item[0])
    else:
        low_price.append(item[0])
        
print("high = ", high_price)
print("low = ", low_price)

high =  ['ap', 'ch']
low =  ['pe', 'or']

### ( 과일 갯수 찾기 )
- fruit_dict = {"ap":[3500,10], "pe":[2500,5], "ch":[5000,3], "or":[2000,5]}
- 3000원 이상인 과일 갯수 high 변수에 누적
- 3000원 이하인 과일 갯수 low 변수에 누적
- high, low를 출력하세요.

In [ ]:
fruit_dict = {"ap":[3500,10], "pe":[2500,5], "ch":[5000,3], "or":[2000,5]}
high=0
low=0

for item in fruit_dict.items():
    if item[1][0] > 3000:
        high = high + item[1][1]
    else:
        low = low + item[1][1]
        
print("high = ", high)
print("low = ", low)

high =  13
low =  10

### jupyter notebook 매직 커맨드
1. ipynb 화일 실행 
2. .py 실행
   - %run *.py 
   - !python *.py
   - 직접 폴더에서 실행 -> python *.py

In [ ]:
%%writefile c:/jswoo/test.py

fruit_dict = {"ap":[3500,10], "pe":[2500,5], "ch":[5000,3], "or":[2000,5]}
high=0 ; low=0

for item in fruit_dict.items():
    if item[1][0] > 3000:
        high = high + item[1][1]
    else:
        low = low + item[1][1]
        
print("high = ", high)
print("low = ", low)

Writing c:/jswoo/test.py

In [ ]:
%run c:/jswoo/test.py

high =  13
low =  10

In [ ]:
!python c:/jswoo/test.py

high =  13
low =  10

In [ ]:
# cmd창 -> python test.py

### ( 리스트 컴프리헨션 )

In [ ]:
# 1~10 까지 구성된 리스트 만들기 
num = list(range(1,11)); num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 전체 요소에 제곱된 리스트 만들기 
square = []
for i in num:
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[i**2 for i in num]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# num의 5보다 >= 요소에 한해 제곱을 적용 
square = []
for i in num:
    if i >= 5:
        square.append(i**2)
print(square)

[25, 36, 49, 64, 81, 100]

In [ ]:
[i**2 for i in num if i >= 5 ]

[25, 36, 49, 64, 81, 100]

### (실습 ) 
- num 
- 홀수면 3제곱, 짝수면 제곱으로 구성된 
- 리스트 만들기
  + for문으로 만들기
  + 리스트컴프리헨션으로 만들기 -> (구글링해서 적용하기 )

In [ ]:
square = []
for i in num:
    if i%2 == 0:
        square.append(i**2)
    else:
        square.append(i**3)
print(square)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [ ]:
[i**2 for i in num if i >= 5 ]

In [ ]:
# [i if i%2==0 else "홀수" for i in range(10)]

In [ ]:
[i**2 if i%2 == 0 else i**3 for i in num]

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [ ]:
num = list(range(1,100001)); num

### ( while 반복문 )

In [ ]:
count = 5
while count > 0:
    print("count = ", count)
    count -= 1 # count = count -1 
else:
    print("While 문 종료, count = ", count)

count =  5
count =  4
count =  3
count =  2
count =  1
While 문 종료, count =  0